  body{
    background: lavender;
  }
  h1,h2{
    text-align: center;
 }
 
 
 .container{
    display: flex;
    justify-content: center;
}

.ig,.fb,.yt{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border: 2px solid rgb(147, 86, 86);
    border-radius: 4%;
    

}

.ig{
    height: 300px;
    width: 200px;
    margin: 20px;
}
.fb{
    height: 300px;
    width: 200px;
    margin: 20px;
}
.yt{

    height: 250px;
    width: 500px;  
}

.box{ 
    display: flex;
    justify-content: center;
}
.btn{
    border: 2px solid rgb(33, 150, 240);
    border-radius: 35px;
    width: 50%;
    background-color: rgb(33, 150, 240);
    margin-left: 25%;
    margin-right: 25%;
    color: white;
    font-weight: bold;
    
}
.input{
    width: 80%;
    border: 2px solid black;
    margin: 10%;
    margin-right: 9%;
    text-align: center;
}

button:hover{
    background-color: aqua;
}

div:hover{
    transform: scale(1.05);
}